{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Items{% endblock %}</h1>
<a href="{{ url_for('items.create') }}">New</a>
{% endblock %}

{% block main %}
{% if items|length == 0 %}
<p>No Items</p>
{% else %}
<section>
	<h2>Summary</h2>
	<table class="item-table">
		<tr>
			<th>ID</th>
			<th>Name</th>
			{% for detail in details %}
			<th>{{ detail['name'] }}</th>
			{% endfor %}
			<th>Created</th>
		</tr>
		{% for item in items %}
		<tr>
			<td>{{ item['id'] }}</td>
			<td>{{ item['name'] }}</td>
			{% for detail in details %}
			<td>
				{% for relation in relations %}
				{% if relation['item_id'] == item['id'] and relation['detail_id'] == detail['id'] %}
				{% if relation['content']|length > 30 %}
				{{ relation['content']|truncate(30,false,'...') }}
				{% else %}
				{{ relation['content'] }}
				{% endif %}
				{% endif %}
				{% endfor %}
			</td>
			{% endfor %}
			<td>{{ item['created'].strftime('%d.%m.%Y') }}</td>
			<td><a href="{{ url_for('items.view', id=item['id']) }}">View</a></td>
			<td><a href="{{ url_for('items.edit', id=item['id']) }}">Edit</a></td>
		</tr>
		{% endfor %}
	</table>
</section>
{% endif %}
{% endblock %}
