{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ item['name'] }}{% endblock %}</h1>
{% endblock %}
	
{% block main %}
<ul>
	<li><b>Item ID</b>: {{ item['id'] }}</li>
	<li><b>Name</b>: {{ item['name'] }}</li>
	<li><b>Created</b>: {{ item['created'].strftime('%d.%m.%Y') }}</li>
	<li><b>Creator</b>: {{ item['username'] }}</li>
	<li><b>List</b>: <a href="{{ url_for('lists.view', id=list['id']) }}">{{ list['name'] }}</a></li>
</ul>
<p><a href="{{ url_for('lists.edit_item', id=list['id'], item_id=item['id']) }}">Edit</a></p>
{% endblock %}

